#toolbar
{
    background-color: black;
    width: 100%;
    height: 10px;
 }

#header {
   
    height: 80px;
    background-color:green;
    
}
#header img{
    height:100px;
}
#header ul 
{
    
    float:right; 
    margin-top: 25px; 
}
#header ul li{display: inline;}
#header ul li a{
    text-decoration: none;
    font-size: 20;
    color:black;
    padding: 15px;
}
#head{ 
    font-size:larger;}
#head1{ 
    font-size:xx-large;}

.button {
    display: block;
    width: 25%;
    border:khaki;
    background-color:green;
    color:black;
    padding: 20px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .button:hover {
    background-color: #ddd;
    color: black;
  }
        
    
    

